aes==1.2.0
asgiref==3.8.1
async-timeout==4.0.2
attrs==22.2.0
autobahn==23.1.2
Automat==24.8.0
autopep8==1.6.0
buildtools==1.0.6
certifi==2022.12.7
cffi==1.17.1
channels==4.2.2
chardet==5.2.0
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
constantly==23.10.4
cryptography==45.0.3
dj-pagination==2.5.0
Django==5.2.1
django-allauth==65.8.1
django-jsoneditor==0.2.4
django-private-storage==3.1.1
django-rq==3.0.1
django-userforeignkey==0.5.0
docopt==0.6.2
et_xmlfile==2.0.0
furl==2.1.4
greenlet==3.2.2
hyperlink==21.0.0
idna==3.10
incremental==24.7.2
Jinja2==3.1.6
jsoneditor==1.6.0
MarkupSafe==3.0.2
numpy==2.2.6
openpyxl==3.1.5
orderedmultidict==1.0.1
packaging==25.0
pandas==2.2.3
pdfminer.six==20250327
pdfplumber==0.11.6
pillow==11.2.1
psycopg==3.2.9
psycopg-binary==3.2.9
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycodestyle==2.13.0
pycparser==2.22
pycryptodome==3.23.0
PyPDF2==3.0.1
pypdfium2==4.30.1
pyperclip==1.9.0
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
qrcode==8.2
redis==6.1.0
redo==3.0.0
reportlab==4.4.1
requests==2.32.3
rq==2.3.3
service-identity==24.2.0
setuptools==80.9.0
simplejson==3.20.1
six==1.17.0
SQLAlchemy==2.0.41
sqlparse==0.5.3
toml==0.10.2
txaio==23.1.1
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
wheel==0.45.1
whitenoise==6.9.0
XlsxWriter==3.2.3
zope.interface==7.2
