{% extends "layouts/base-fullscreen.html" %}

{% block title %} Confirmacion de Correo {% endblock %}
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card-group d-block d-md-flex row">
          <div class="card col-md-7 p-4 mb-0">
            <div class="card-body">
              <a href="#"><img src="/static/assets/brand/emailconfirm.jpg" width="100%"></a>
              {% url 'bases:home' as email_url %}
              <p>Este enlace de confirmación de correo electrónico caducó o no es válido. Por favor envíe una nueva
                solicitud de confirmación de correo electrónico. <a href="{{email_url}}">Ir a Home</a></p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}