{% extends "base/base.html" %}

{% block page_content %}



<div class="container mt-5 text-bg-secondary p-3">

    {% if form.errors %}
    <div class="alert alert-danger">
        <strong>Errores:</strong>
        <ul>
            {% for field in form %}
            {% for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %}
            {% endfor %}

            {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}


    <!-- <div> -->
    <h2>Cambia tu contraseña</h2>
    <p>Debes cambiar tu contraseña para continuar.</p>

    <form method="post">
        {% csrf_token %}
        {#{ form.as_p }#}

        <p>
            <label for="id_old_password">Contraseña antigua:</label>
            <input type="password" name="old_password" autofocus required id="id_old_password" placeholder="Número de cédula" autocomplete="nope">
        </p>


        <p>
            <label for="id_new_password1">Contraseña nueva:</label>
            <input type="password" name="new_password1" autocomplete="new-password" required
                aria-describedby="id_new_password1_helptext" id="id_new_password1">

            <span class="helptext" id="id_new_password1_helptext">
                <ul>
                    <li>Su contraseña no puede asemejarse tanto a su otra información personal.</li>
                    <li>Su contraseña debe contener por lo menos 8 caracteres.</li>
                    <li>Su contraseña no puede ser una clave utilizada comúnmente.</li>
                    <li>Su contraseña no puede ser completamente numérica.</li>
                </ul>
            </span>
        </p>

        <p>
            <label for="id_new_password2">Contraseña nueva (confirmación):</label>
            <input type="password" name="new_password2" autocomplete="new-password" required
                aria-describedby="id_new_password2_helptext" id="id_new_password2">

            <span class="helptext" id="id_new_password2_helptext">Para verificar, ingrese la misma contraseña anterior.</span>

        </p>


        <button type="submit" class="btn btn-primary">Cambiar contraseña</button>

        <a class="btn btn-success" href="/" role="button">Ir a pagina principal</a>

    </form>
</div>





{% comment %} <form method="post" class="form-control">
    {% csrf_token %}

    <div class="form-group">
        <label for="id_old_password">Contraseña actual</label>
        {{ form.old_password }}
    </div>

    <div class="form-group">
        <label for="id_new_password1">Nueva contraseña</label>
        {{ form.new_password1 }}
    </div>

    <div class="form-group">
        <label for="id_new_password2">Confirma la nueva contraseña</label>
        {{ form.new_password2 }}
    </div>

    <button type="submit" class="btn btn-primary">Cambiar contraseña</button>
</form>
{% endcomment %}

{% endblock %}