.allauth .error-message {
  font-family: "TuFuente", sans-serif; /* Reemplaza "TuFuente" con la fuente que deseas utilizar */
  font-size: 2.2em; /* Cambia el tamaño de fuente a 1.2em o al tamaño que desees */
  color: #8B0000; /* Cambia el color de fuente a rojo oscuro o al color que desees */
}
