<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Resultados de la Votación</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- clave para móviles -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <style>
        body {
            font-family: Arial, sans-serif;
            padding: 1rem;
            margin: 0;
            background-color: #f9f9f9;
        }

        h1,
        h2 {
            text-align: center;
        }

        .contenedor {
            max-width: 800px;
            margin: 0 auto;
            padding: 1rem;
            background-color: white;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin: 1rem 0;
        }

        table th,
        table td {
            border: 1px solid #ccc;
            padding: 8px;
            text-align: center;
        }

        canvas {
            width: 100% !important;
            max-width: 100%;
            height: auto !important;
            margin: 1rem 0;
        }

        @media (max-width: 600px) {

            table th,
            table td {
                font-size: 14px;
            }
        }
    </style>
</head>

<body>
    <div class="contenedor">

        <h1>¡Gracias por votar!</h1>
        <a href="/">Volver al inicio</a>

        <h1>📊 Resultados de la Votación</h1>
        <p>Fecha de votación {{fecha|date:"d M Y"}}</p>

        <h2>{{departamento}} {{municipio}} {{localidad |default:""}} </h2>
        <h1>Curules: {{curules}}</h1>
        <h1>Cuociente electoral: {{cociente_electoral | floatformat:2 }}</h1>
        
        
        {% comment %} <h2>Planchas</h2> {% endcomment %}

    
        {% for plancha, miembros in grupo_planchas.items %}
            <table>
                <thead>
                    <tr>
                        {% comment %} <th scope="col">#</th> {% endcomment %}
                        <th scope="col">Nombres y Apellidos</th>
                        <!-- <th scope="col">Usuario</th> -->
                    </tr>
                </thead>
                <tbody>
                    {% for miembro in miembros %}
                    <tr>
                        {% comment %} <th scope="row">{% if miembro.position > 0 %} {{ miembro.position }}  {% endif %}</th> {% endcomment %}
                        <td>{% if miembro %} {{ miembro }} {% else %} {{ miembro }} {% endif %} </td>
                        <!-- <td>{{ miembro.username }}</td> -->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        
        {% endfor %}

        


        
        
        <h2>Tabla de Resultados</h2>
        <table>
            <thead>
                <tr>
                    <th>LISTA</th>
                    <th>VOTOS</th>
                    <th>COCIENTE</th>
                    <th>RESIDUO</th>
                </tr>
            </thead>
            <tbody>
                {% for v in datos %}
                <tr>
                    <td>{{ v.opcion__name }}</td>
                    <td>{{ v.total_votos }}</td>
                    <td>{{ v.cociente |floatformat:-0}}</td>
                    <td>{{v.residuo |floatformat:"2g"}}</td>
                    <!-- <td>{{v.residuo |floatformat:"2g"}}</td> -->
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>Votos en blanco: <span style="color: rgb(1, 255, 192);">{{votos_blanco}}</span> </h2> 
        <h2>Total votos: <span style="color: rgb(255, 1, 1);">{{total_votos}}</span> </h2> 

        <h2>Total válidos: <span style="color: rgb(255, 1, 1);">{{total_votos_validos}}</span> </h2> 


        <!-- <h2>Votos válidos: <span style="color: rgb(80, 177, 131);">{{total_votos}}</span> </h2>  -->

        <!-- <h2>Cociente electoral: <span style="color: rgb(80, 177, 131);">{{cociente_electoral}}</span> </h2>  -->

        <br>

        <h2>Conformación final de la lista</h2>
        <table>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombres y Apellidos</th>
                </tr>
            </thead>
            <tbody>
                {% for i,item in suma_listas %}
                <tr>
                    <th scope="row"> {{ i }} </th>
                    <td>{{ item }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
          
        {% comment %}

            <br>

            {% for plancha, miembros in grupos.items %}
                <table>
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombres y Apellidos</th>
                            <!-- <th scope="col">Usuario</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for miembro in miembros %}
                        <tr>
                            <th scope="row">{% if miembro.position > 0 %} {{ miembro.position }}  {% endif %}</th>
                            <td>{% if miembro.get_full_name %} {{ miembro.get_full_name }} {% else %} {{ miembro.username }} {% endif %} </td>
                            <!-- <td>{{ miembro.username }}</td> -->
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            
            {% endfor %}

        {% endcomment %}
        
        <br>
        <br>
        <br>

        <h2>Gráfico de Barras</h2>
        <canvas id="graficoBarras"></canvas>

        <h2>Gráfico de Torta</h2>
        <canvas id="graficoTorta"></canvas>
    </div>

    <script>
        const labels = {{ labels| safe }};
        const datos = {{ valores| safe }};
        const colores = [
            'rgba(255, 99, 132, 0.6)',
            'rgba(54, 162, 235, 0.6)',
            'rgba(255, 206, 86, 0.6)',
            'rgba(75, 192, 192, 0.6)',
            'rgba(153, 102, 255, 0.6)',
            'rgba(255, 159, 64, 0.6)'
        ];

        new Chart(document.getElementById('graficoBarras'), {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Total de votos',
                    data: datos,
                    backgroundColor: colores,
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                // maintainAspectRatio: false,
                scales: {
                    y: { beginAtZero: true }
                }
            }
        });

        new Chart(document.getElementById('graficoTorta'), {
            type: 'pie',
            data: {
                labels: labels,
                datasets: [{
                    data: datos,
                    backgroundColor: colores
                }]
            },
            options: {
                responsive: true,
                // maintainAspectRatio: false
            }
        });
    </script>
</body>

</html>